/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: #181818;
    height: 100vh;
  }
  
  /* Header Styles */
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    cursor: pointer;
    height: 45px;
    width: 45px;
  }
  
  .nav_links {
    display: flex;
    list-style: none;
    margin-left: 20px; /* Space between logo and nav links */
  }
  
  .nav_links li {
    margin: 0 15px;
  }
  
  .nav_links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav_links a:hover {
    color: #007bff;
  }
  
  /* Hamburger Menu Styles */
  .menu-toggle {
    display: none; /* Hide hamburger menu by default */
  }
  
  @media (max-width: 768px) { 
    .menu-toggle {
      display: block; /* Show hamburger menu on smaller screens */
      cursor: pointer;
    }
  
    .nav_links {
      display: none; /* Hide navigation links by default */
      position: absolute;
      top: 60px; /* Adjust top position as needed */
      left: 0;
      background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
      width: 100%;
      flex-direction: column;
      text-align: center;
      padding: 20px 0;
    }
  
    .menu-toggle.active + .nav_links {
      display: flex; /* Show navigation links when menu is active */
    }
  }
  
  /* Content Styles */
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: center;
  }
  
  /* Quote Card Styles */
  .quote-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .quote-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .quote-card p {
    text-align: center;
    font-style: italic;
    margin-bottom: 15px;
  }
  
  /* Responsive Design (Optional) */
  @media (max-width: 768px) {
    /* Adjust styles for smaller screens here */
  }


/* slogan */
.slogon{
    display: block;
    justify-content: center;

}

.slogan_img {
    padding: 0% 0% 0% 10%;
    height: 90%;
    width: 90%;
}
/* hr */
hr{
    margin-top: 1%;
    margin-bottom: 1%;
}